@import "../_variablesmixins.scss";
.SearchResults {
  width: 50%;
  height: 250px;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: rgba($blue, 0.8);
  box-shadow: 0 4px 2px 2px #000000;
  color: black;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}
