@import "../_variablesmixins.scss";

.App {
  text-align: center;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.wrapper {
  @include boxWrapper();
}
@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
