@import "../_variablesmixins.scss";

.Playlist {
  @include boxSettings($purple);
  padding-top: 31px;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-family: $font-stack;
  font-size: 1.55rem;
  color: black;
  text-align: center;
}

$buttonHeight: 40px;

.PlaylistSave {
  cursor: pointer;
  width: 100%;
  height: $buttonHeight;
  padding: 0.77rem 0;
  border-radius: 0 0 $borderRad $borderRad;
  border-width: 0px;
  margin-top: calc(-1 * $buttonHeight);
  background-color: black;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: $blue;
  font-weight: 500;
  box-shadow: 0 4px 2px 2px #000000;
}

.PlaylistSave:hover {
  background-color: $yellow;
  color: #000;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
