@import "../_variablesmixins.scss";

.Playlist {
  @include boxSettings($purple);
  padding-top: 31px;
}

.Playlist input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-family: $font-stack;
  font-size: 1.55rem;
  color: black;
  text-align: center;
}

.PlaylistSave {
  cursor: pointer;
  width: 10rem;
  padding: 0.77rem 0;
  border-radius: 54px;
  border-width: 0px;
  margin-top: 1.27rem;
  background-color: black;
  text-align: center;
  font-size: 0.83rem;
  transition: background-color 0.25s;
  color: $blue;
  font-weight: 500;
}

.PlaylistSave:hover {
  background-color: $yellow;
  color: #000;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media only screen and (max-width: 1020px) {
  .Playlist {
    width: 90%;
  }
}
