/* variables */
$yellow: #d3f742;
$blue: #3dd2e2;
$pink: #f544ff;
$purple: rgb(161, 13, 230);

$font-stack: "Work Sans", "Helvetica Neue", sans-serif;

$boxHeight: 400px;

@mixin boxSettings($color) {
  width: 50%;
  min-height: $boxHeight;
  overflow-y: scroll;
  padding: 0.88rem;
  background-color: rgba($color, 0.8);
  box-shadow: 0 4px 2px 2px #000000;
  color: black;
  border-radius: 10px;
  margin: 10px;
  @media (max-width: 1020px) {
    width: 90%;
    margin-bottom: 2rem;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
